body, html {
    height: 100%;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Meta and links                                                                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */
.meta a {
    color: dodgerblue !important;
    cursor: pointer;
}

.meta a:hover {
    color: deepskyblue !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Nodes                                                                                                              */
/* ------------------------------------------------------------------------------------------------------------------ */
.node {
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Background and containers                                                                                          */
/* ------------------------------------------------------------------------------------------------------------------ */
.bgLogo {
    background-image: url("../assets/landing.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}
#content {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
    height: 100%;
}
#svgContainer {
    flex: 1 1 auto;
    overflow: hidden;
}
.sidePanel {
    flex: 0 0 320px;
    overflow: auto;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Utility classes                                                                                                    */
/* ------------------------------------------------------------------------------------------------------------------ */
.hidden {
    display: none !important;
}
.suboption {
    margin-left: 15px !important;
}
p.comment {
    margin-top: 16px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Error messages                                                                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */
div.ui.error.message {
    margin: auto;
}
div.ui.errorPopup.message {
    left: 40px;
    bottom: 40px;
    position: fixed;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Cards                                                                                                              */
/* ------------------------------------------------------------------------------------------------------------------ */
div.ui.card.intro {
    width: 770px;
    margin: auto;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Zoom controls                                                                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */
div.zoom {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
}
.zoom button {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 46px;
    height: 46px;
    background-color: #fff;
    display: block;
    line-height: 46px;
    box-sizing: content-box;
    cursor: pointer;
    padding: 0;
}
.zoom button:hover {
    background-color: #eee;
}
.zoom button:focus {
    outline: 0;
}
.zoom-in {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 0;
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}
.zoom-out {
    border: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Scrollable areas                                                                                                   */
/* ------------------------------------------------------------------------------------------------------------------ */
.limit-height {
    height: 300px;
    overflow-y: auto;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Images and links                                                                                                   */
/* ------------------------------------------------------------------------------------------------------------------ */
.content .ui.image.blockImage {
    display: block;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Details section                                                                                                    */
/* ------------------------------------------------------------------------------------------------------------------ */
.details {
    padding: 15px 0;
}
.no-border-bottom {
    border-bottom: 0 !important;
}
.details .ui.items .item .content {
    padding: 0 15px;
}
.details .event-header {
    justify-content: space-between;
    display: flex;
    word-break: break-word;
    margin-bottom: 15px;
}
.details .event-header .header {
    text-transform: uppercase;
    margin: 0;
    min-width: 40%;
}
.details .person-image {
    max-width: 289px;
    width: 289px;
    padding: 0 10px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Event extras                                                                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */
.event-extras .ui.attached.menu,
.event-extras .ui.attached.segment.tab,
.event-extras .ui.tabular.menu .item {
    border: none;
}
.ui.divided.items>.item {
    border-top: 0 !important;
}
.event-extras .ui.menu .active.item .icon {
    background-color: #1b1c1d;
    color: #ffffff;
}
.event-extras .ui.attached.segment.active.tab {
    word-break: normal;
    overflow-wrap: anywhere;
    max-width: 289px;
    padding: 14px 0 0;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Buttons and toggles                                                                                                */
/* ------------------------------------------------------------------------------------------------------------------ */
.ui.primary.button {
    background-color: dodgerblue !important;
    color: white !important;
}
.ui.primary.button:active {
    background-color: #1c86ee !important;
}
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
    background-color: dodgerblue !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Inputs and dropdowns                                                                                               */
/* ------------------------------------------------------------------------------------------------------------------ */
.ui.form .field.no-margin {
    margin: 0;
}
.ui.tabular.menu a {
    text-transform: uppercase;
}
div.ui.icon.input {
    width: 318px;
    border: 0;
    margin: 2px 3px 1px 1px;
}
.ui.input > input:focus {
    border-color: dodgerblue !important;
}
.ui.dropdown.no-arrow > .dropdown.icon {
    display: none !important;
}
.search .prompt {
    border-radius: 0 !important;
}

.ui.search .ui.input.icon {
    width: 247px !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Menu and tabs                                                                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */
.ui.menu, .item:before {
    border: none !important;
    background: none !important;
}
.ui.menu .item > img:not(.ui).menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px
}
.ui.menu .dropdown.item .menu {
    margin-top: 0 !important;
}
.ui.tabular.menu .active.item {
    border-radius: 0 !important;
    border-top-width: 0 !important;
}
.ui.tabular.menu .item:first-child {
    border-left-width: 0 !important;
    border-radius: 0 !important;
}
.ui.top.attached.menu {
    margin-top: 0;
    border: none !important;
}
.ui.linkblue.menu .active.item,
.ui.menu .linkblue.active.item,
.ui.linkblue.menu > .item:hover,
.ui.linkblue.menu .ui.dropdown .menu > .item:not(.active):hover {
    color: dodgerblue !important;
    background-color: transparent !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Config panel                                                                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */
.config-tab-info.active,
.config-tab-settings.active {
    color: #000 !important;
    background-color: white !important;
    font-weight: 400 !important;
}
.config-tab-info,
.config-tab-settings {
    color: darkgray !important;
    background-color: rgba(0, 0, 0, .05) !important;
    border: none !important;
}
.config-tab-info:not(.active):hover,
.config-tab-settings:not(.active):hover {
    background-color: rgba(0, 0, 0, .15) !important;
}
.ui.tabular.menu .item .icon {
    color: darkgray;
}
.ui.tabular.menu .item.active .icon {
    color: black;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Chart menu                                                                                                         */
/* ------------------------------------------------------------------------------------------------------------------ */
.chart-menu {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: none !important;
}
.chart-menu .item {
    display: flex;
    align-items: center;
    font-size: 1.07142857rem;
}
.i18n-menu {
    margin-right: 5px;
    justify-content: left;
}
.i18n-icon {
    font-size: 1.5rem !important;
    line-height: 1 !important;
    display: block !important;
    vertical-align: middle;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Legend and tooltips                                                                                                */
/* ------------------------------------------------------------------------------------------------------------------ */
.legend {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 12px;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}
.legend:hover {
    background: rgba(0, 0, 0, .05);
    transition: background 0.3s ease;
    cursor: pointer;
}
.legend svg {
    width: 295px;
    height: 80px;
}
.legend-emoji {
    position: absolute;
    bottom: 140px;
    right: 15px;
    width: 320px;
    text-align: center;
    font-size: 50px;
    user-select: none;
    z-index: 101;
}
.legend-emoji:hover {
    animation: wave 2s ease-in-out infinite;
    transform-origin: center center;
}
.wave-once {
    animation: wave 2s ease-in-out 1;
}
@keyframes wave {
    0%   { transform: translateX(0) rotate(0deg); }
    20%  { transform: translateX(15px) rotate(10deg); }
    40%  { transform: translateX(-15px) rotate(-10deg); }
    60%  { transform: translateX(15px) rotate(10deg); }
    80%  { transform: translateX(-15px) rotate(-10deg); }
    100% { transform: translateX(0) rotate(0deg); }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Modal                                                                                                    */
/* ------------------------------------------------------------------------------------------------------------------ */
.loaded-image-thumbnail {
    cursor: zoom-in;
}
.hidden-image {
    display: none !important;
}
.modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-image .ui.attached.label {
    width: auto;
    min-width: 100%;
}
.ui.modal > .close {
    top: 0.5rem !important;
    right: 0.5rem !important;
    color: darkgray !important;
    opacity: .6 !important;
}
.ui.modal > .close:hover {
    opacity: .8 !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Contact                                                                                                            */
/* ------------------------------------------------------------------------------------------------------------------ */
.ui.modal > .header {
    text-align: center;
    border-bottom: none !important;
    font-size: 1.8rem;
    margin-top: 50px;
}
.ui.modal > .content {
    margin-bottom: 30px;
}
.ui.form input,
.ui.form textarea {
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
}
.contact-form-grid > .column {
    display: flex;
    flex-direction: column;
}
.contact-form-column {
    justify-content: flex-end;
}
.contact-form-column .ui.form {
    width: 100%;
}
.contact-form-grid .column:first-child {
    margin-left: 60px;
}
.narrow-select {
    position: relative;
    max-width: 300px;
    width: 100%;
}
.narrow-select select {
    width: 100%;
    padding: 0.75rem 2rem 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;  /* for Firefox */
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.narrow-select::after {
    content: "\1F30D";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666;
    font-size: 1.1rem;
    user-select: none;
}
#name::placeholder,
#email::placeholder,
#message::placeholder,
#name:focus::placeholder,
#email:focus::placeholder,
#message:focus::placeholder {
    color: #bbb;
    opacity: 1;
}
.contact-message {
    height: 36px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.cooldown-message {
    composes: contact-message;
    margin-top: 5px !important;
}
.contact-form-grid .contact-form-column form button[type="submit"] {
    margin-top: 2.5rem !important;
}
.contact-reasons {
    min-height: 140px;
    white-space: pre-line;
    font-size: 1.03rem;
    line-height: 22px;
    text-align: left;
    margin: 10px 0 0 20px;
    background: transparent;
    position: relative;
    z-index: 1;
}
#contact-form-image {
    z-index: 0;
    margin-top: -10px;
    order: 0;
}
#we-speak {
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.03rem;
}
#we-speak .selected-language {
    color: black;
}
#we-speak a {
    color: dodgerblue;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Landing                                                                                                            */
/* ------------------------------------------------------------------------------------------------------------------ */
.landing {
    padding: 1rem 20rem;
    min-height: 90vh;
}
.landing .ui.segment {
    /* border: none; */
    box-shadow: none;
}
.landing-header {
    min-height: 40%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Dropzone                                                                                                           */
/* ------------------------------------------------------------------------------------------------------------------ */
/*.dropzone {*/
/*    border: 2px dashed #ccc;*/
/*    border-radius: 8px;*/
/*    color: #bbb;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-grow: 1;*/
/*    align-self: stretch;*/
/*}*/
.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}
.dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: 250px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    color: #bbb;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.dropzone:hover {
    background-color: #f5f5f5;
}
.dropzone p {
    margin-bottom: 5px;
}
.dropzone p:last-of-type {
    margin-bottom: 20px;
}
.needed-files {
    text-align: left;
}
.needed-files p {
    font-weight: bold;
}
.needed-files-emojis p {
    width: 30px;
    height: 22px;
}
.needed-files-emoji {
    cursor: pointer;
}
.needed-files-emoji[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    color: coral;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
@media (max-width: 900px) {
    .upload-container {
        align-items: center;
        flex-direction: column;
    }

    .dropzone {
        max-width: 400px;
        height: 100px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Dropzone                                                                                                           */
/* ------------------------------------------------------------------------------------------------------------------ */
